:root{
    --color1: #634F2C;
    --color2: #B4A385;
    --color3: #E4B564;
    --color4: #635A4A;
    --color5: #B08C4D;
    --color6: #0E0E0E;
    --color7: #242424;
    --color8: #1F1F1F;
    --color9: #0A0909;
    --color10: #E8D2ABC2;
}

body{
    background-color: #171717; 
    color: white; 
}

.header{
  display: flex;
  flex-direction: column;
  max-width: 1980px;
  margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SK-image{
  width: 180px;
  margin-top: 15px;
  margin-left: 170px;

}

.phone{
    display: flex;
    align-items: center;
    background-color: #171717;
    border: solid 1px  #E4B564;
    cursor: pointer;
    color:  #E4B564;
    width: 160px;
    height: 40px;
}

.phone-link{
    display: flex;
    margin: 0 auto;
    justify-content: end;
    margin-right: 200px;
    text-decoration: none;
}

.ring-image{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
    height: 20px;
}

.h1{
  display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    margin-top: 75px; 
    margin-left: 170px; 
}

.subtitle{
    display: flex;
 font-size: 15px;
 justify-content: center;
 margin-left: 170px;
 margin-right: 450px; 
}

.wrapper{
    display: grid;
    text-align: center;
    grid-template-columns: 367px 367px 367px;
    gap: 15px;
    margin: 50px 170px auto 170px;
  }

  .block-1{
    display: grid;
    width: 367px;
    height: 368px;
    gap: 15px;
    background: var(--color1);
    align-items: center;
  }

  .block-2{
    display: grid;
    width: 367px;
    height: 368px;
    align-items: center;
    background: var(--color2);
  }
  
  .block-3{
    display: grid;
    width: 367px;
    height: 368px;
    align-items: center;
    background: var(--color3);
  }

  .block-4{
    display: grid;
    width: 560px;
    height: 368px;
    align-items: center;
    background: var(--color4);
  }
 
  .block-5{
    display: grid;
    width: 560px;
    height: 368px;
    margin-left: 190px;
    align-items: center;
    background: var(--color5);
  }

  .main{
    font-weight: bold;
    font-size: 30px;
    margin-top: 75px; 
    margin-left: 170px;
}

.container{
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 367px 367px 367px;
    grid-template-rows: 1fr 1fr ;
    gap: 5px;
    margin: 50px 170px auto 170px;
  }

  

  .block-7{
    display: grid;
    grid-column: 1;
    width: 367px;
    height: 213px;
    background: var(--color6);
    /* grid-row: 1 / 16; */
  }

  .block-8{
    display: grid;
    width: 367px;
    height: 339px;
    /* grid-column: 2;
    grid-row: 1/20; */
    background: var(--color7);
  }

  .block-9{
    display: grid;
    width: 367px;
    height: 255px;
    /* grid-column: 3;
    grid-row: 1/14; */
    background: var(--color8);
  }
  
  .block-10{
    display: grid;
    width: 367px;
    height: 460px;
    margin-top: -125px;
    /* padding-top: 35px; */
    /* grid-column: 1;
    grid-row: 15 / 43; */
    background: var(--color8);
  }

  .block-11{
    display: grid;
    width: 367px;
    height: 305px;
    color: var(--color9);
    /* grid-column: 2;
    grid-row: 20/42; */
    background: var(--color3);
  }

  .block-12{
    display: grid;
    width: 367px;
    height: 213px;
    margin-top: -80px;
    /* grid-column: 3;
    grid-row: 12/30; */
    background: var(--color6);
  }

  .block-13{
    display: grid;
    width: 367px;
    height: 195px;
    margin-top: -205px;
     grid-column: 3;
    background: var(--color9);
  }

  .desc-container{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-right: 65px;    
    padding-left: 65px;
  }

  .footer{
    font-weight: bold;
    background: #0E0E0E;
    background-size: cover;
    margin: 0 auto;
  }

  .clients{
    display: flex;
    font-size: 30px;
    margin-left: 170px;
    margin-top: 30px;
  }

  .project-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E4B564;
    text-decoration: none;
  }

  .projects{
    cursor: pointer;
    background-color: #171717;
    border: solid 1px  #E4B564;
    color:  #E4B564;
    width: 160px;
    height: 40px;
    margin-right: 180px;
    margin-top: 30px;
}

.project-clients{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 351px 351px ; 
  gap: 0; 
  height: 100vh;
  margin: 50px 170px auto 170px; 
}

.item1{
  display: grid;
  align-items: center;
  justify-content: center;
  background:var(--color1);
}

.item2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color10);
  font-size: 16px;
}

.item3{
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color3);
}

.item4{
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color4);
}

.item5{
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color5);
}

.item6{
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color1);
}

.picture{
  width: 60px;
}

.picture_2_0{
  width: 120px;
}

.text{
  font-weight: lighter;
  padding-left: 120px;
  padding-right: 120px;
}

.item-text{
  padding-left: 120px;
  padding-right: 120px;
}